<html lang="kr">
	<head>
	
	</head>
	
	<body>
		<center>
			<h1>로그인</h1>
			<form action="login" method="post">
			<h3>
				<table border=1 cellspacing=0 cellpadding=0>
					<tr>
					<th>id</th>
					<td><input name="id" type="text" size="10"></td>
					</tr>
					
					<tr>
					<th>password</th>
					<td><input name="password" type="password" size="10"></td>
					</tr>
					
					<tr>
					<td colspan="2" align="center">
					<div th:text="${errorMessage}"></div></td>
					</tr>
					
					<tr>
					<td colspan="2" align="center">
					<input type="submit" value="로그인"></td>
					</tr>
					
					<tr>
					<td colspan="2" align="center">
					<a th:href="@{/signUpView}"><input type="button" value="회원가입"></a></td>
					</tr>
				</table>
			</h3>
			</form>
		</center>
	</body>


</html>